html {
    height: 100%;
    margin: 0;
    padding: 0
}

body {
    margin: 0;
    font-family: "Inconsolata";
    background: #111111;
    height: 100%;
    color: #bbbbbb
}

a {
    text-decoration: none;
    color: #FF0F00
}

a:hover {
    text-decoration: underline
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.3)
}

#author-name {
    font-size: 30px;
    color: #ffffff;
    display: inline-block
}

.navbar {
    padding: 50px 0 50px 0
}

.navbar-ul {
    display: inline-block;
    margin: 0;
    padding: 5px 0 5px 0;
    margin-left: 20px
}

.nav-list {
    list-style-type: none;
    margin: 0 5px 0 10px
}

.alignable,.pull-left,.pull-right {
    display: inline-block
}

.pull-left {
    float: left
}

.pull-right {
    float: right
}

.container {
    max-width: 700px;
    margin: auto
}

.wrapper {
    min-height: 100%
}

#ins-logo {
    margin: auto;
    display: block;
    max-height: 100px;
    text-align: center
}

@media (max-width: 800px) {
    .container {
        max-width:600px;
        transition: 0.3s ease all
    }
}

@media (max-width: 650px) {
    .container {
        max-width:83%
    }

    .navbar-ul {
        margin-top: 5px
    }
}

@media (max-width: 500px) {
    .navbar {
        text-align:center;
        padding: 50px 0px 0px 0px
    }

    #author-name {
        width: 100%;
        float: none
    }

    #navlist {
        padding: 10px 0 10px 0;
        margin: 0;
        display: block;
        float: none;
        text-align: center;
        width: 100%
    }

    #navlist li.alignable,#navlist li.pull-left,#navlist li.pull-right {
        display: inline-block
    }

    #navlist li.pull-left {
        float: none
    }

    #navlist li.nav-list {
        margin: 0
    }
}

.content a:hover {
    text-decoration: underline
}

.content ol {
    counter-reset: list
}

.content ol>li {
    list-style-position: none;
    position: relative;
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px
}

.content ul>li {
    margin: 5px 0 5px 0
}

.content ul {
    padding: 0 20px 0 20px
}

.content ol {
    padding: 0 30px 0 30px
}

.content ol>li:before {
    content: "[" counter(list,decimal) "] ";
    counter-increment: list;
    position: absolute;
    left: -30px
}

.content blockquote {
    border-left: 5px solid #333333;
    margin: 20px 0 20px 0;
    padding: 2px 8px 2px 8px;
    font-style: italic
}

.content .profile-picture {
    height: 85px;
    width: 85px;
    position: relative;
    margin: -10px 0 0 15px;
    float: right;
    border-radius: 50%;
    object-fit: cover
}

p .content .profile-picture {
    padding: 0;
    margin: 0
}

@media (max-width: 480px) {
    .content .profile-picture img {
        margin-top:-5px
    }
}

.content .project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.content .project .project-container {
    min-width: 0;
    height: 40vh
}

@media (min-width: 480px) {
    .content .project .project-container {
        flex:0 1 calc(33% - 1em)
    }
}

@media (max-width: 480px) {
    .content .project .project-container {
        flex:0 1 100%
    }
}

.content .project .project-container img {
    height: 100%;
    width: 100%;
    flex: 0 1 calc(33% - 1em);
    object-fit: cover
}

.content .project-container .empty {
    visibility: hidden
}

.content .publication {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    margin-bottom: 1em
}

.content .publication .publication-image {
    flex: 1;
    margin-right: 2%
}

.content .publication .publication-image img {
    height: 100%;
    width: 100%;
    object-fit: cover
}

.content .publication .publication-container {
    flex: 3
}

.content .publication .publication-container h4 {
    margin: 0 0 0 0
}

.content .publication .publication-container p {
    padding: 5
}

.content img {
    text-align: center;
    width: 100%
}

.footer a {
    color: white;
    text-decoration: underline
}

table {
    margin: 15px 0;
    border-collapse: collapse;
    width: 100%;
    padding: 0
}

table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0
}

table tr:nth-child(2n) {
    background-color: #f8f8f8
}

table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px
}

table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px
}

table tr th :first-child,table tr td :first-child {
    margin: 0
}

table tr th :last-child,table tr td :last-child {
    margin: 0
}
